table {
    border: 1px solid black;
    height: 250px;
    width: 250px;
    margin-top: 10px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
}

.timer-container{
    margin: auto;
    background-color: purple;
    height: 340px;
    width: 300px;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
}

tbody {
    text-align: center;
    border: 1px solid black;
    margin: auto;
}
td{
    border: 1px solid black;
    height: 40px;
    width: 40px;
    padding: 10px;
}

time {
    background-color: palevioletred;
    border: 2px solid pink;
    border-radius: 20%;
}

nextNum{
    background-color: palevioletred;
    border: 2px solid pink;
    border-radius: 20%;
   margin-left: 50px;
}

.Difficult-Level{
    text-align: center;
    color: aliceblue;
    margin-left: auto;
        margin-right: auto;
}
