body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

button:hover{
    cursor: pointer;
}

table {
    margin: auto;
}

.cell {
    width: 40px;
    height: 40px;
    background-color: blanchedalmond;
    border-radius: 20%;
    color: green
    
}

.cell:hover {
    cursor: pointer;
    background-color: aliceblue;
    transition: 400ms;
}

.smileface:hover {
    cursor: pointer;
}